body {
margin: 0;
  padding: 0;
}

.box1 {
width: 400px;
  height: 400px;
  background-color: light blue;
  position: relative;
}

.box2, .box3 {
background-color: green;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.box2 {
 /*visibility: hidden;*/
  display: none;
  visibility: visible;
  position: absolute;
  top: 50px;
  left: 50px;
}
