body {
margin: 0;
  padding: 0;
  background-image: linear-gradient(#ff0022, #0099ff)
}

.box1 {
width: 400px;
  height: 400px;
  background-image: url("puppy.jpg")
  position: relative;
  background-color: rgba(125,125,125,.5)
}

.box2, .box3 {
background-color: green;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.box2 {
 /*visibility: hidden;*/
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0,255,0,1.0);
  z-index: -999;
}
