h1 {
  color:blue;
  font-size: 50px;
}

h2 {
  color:green;
  font-family: Arial;
  font-variant: small-caps;
}

p {
background-color: yellow;
}

ul {
  border: 5px solid purple;
  width:200px;
}

#lamp {
  border: 2px solid tan;
}

.nobody {
font-style: italic;
}
